.interview {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  padding-left: 10%;
  padding-right: 10%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #e8f3ff;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #dbecfe;
}