table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}
.question-col {
  text-align: left; 
  padding: 15px;
}
#trash-icon {
  cursor: pointer;
}