table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #e8f3ff;
}
#edit-icon{
  cursor: pointer;
}
.question-col {
  text-align: left; 
  padding: 15px;
}
#trash-icon {
  cursor: pointer;
}
.table-heading {
  text-align: center;
  background-color: #ffffff;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #dbecfe;
}